{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!-- HAVE TO CLEAR CACHE/HISTORY, IF NOT OLD CSS WILL STILL APPEAR -->

<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" type='text/css' href="{% static 'base.css' %}">

    <title>Welcome to 2Slo! Your dream car awaits!</title>
</head>

<body>
    <header>
        <nav class="container" >
            <div class="row justify-content-start g-0">
                <div class="col-md-4 ">
                    <!-- homepage  -->
                    <a href="{% url 'home' %}"  class="toslow-position">2Slo
                        <img src="/pictures/logo.png" alt="slo logo" height="80px" class="logo-over-name"/>
                    </a>

                </div>
    
                <!-- shows all models, names, allows you access their route by click -->
                {% for cars in carss %}
                <div class="col-1 home-cars-margin">
                    <a href="{{cars.id}}" class="home-cars-decoration">
                        {{ cars.name }}
                    </a>
                </div>
                {% endfor %}

                <!-- menu bar, shows contacts & legal stuff -->
                <div class="dropdown menubar">
                    <button class="btn btn-secondary dropdown-toggle home-cars-decoration menubutton" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </button>
                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item home-cars-decoration" href="{% url 'contact' %}">Contact</a></li>
                        <li><a class="dropdown-item home-cars-decoration" href="{% url 'legal_terms' %}">Legal Terms</a></li>
                        
                </div>


            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer ">

        <div class="container">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
              <div class="col ">
                2Slo © 2023
              </div>
              <div class="col ">
                <a href="{% url 'contact' %}" >contact</a>
              </div>
              <div class="col">
                <a href="{% url 'legal_terms' %}" >Legal Terms</a>
              </div>
            </div>
        </div>

    </footer>
</body>

</html>