{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}



<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" type='text/css' href="{% static 'base.css' %}">

    <title>JDM Cars 4 Sale! </title>
</head>

<body>
    <header>
        <nav class="container" >
            <div class="row justify-content-start g-0">
                <div class="col-md-4 ">
                    <a href="{% url 'home' %}"  class="toslow-position">2Slo</a>

                </div>
    
                
                {% for cars in carss %}
                <div class="col-1">
                    <a href="{{cars.id}}">
                        {{ cars.name }}
                    </a>
                </div>
                {% endfor %}

                <div class="col-1"></div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>

</html>