{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<div class="word picture-cover" 
    style="background-image: url('/pictures/type-r.jpg'); "
>
{% for info in Cars %}
    
    <div class="row align-items-start each-car">
        <div class="col">
            {{ info.name}}
        </div>
        <div class="col">
            Starting at ${{info.pricing}}
        </div>
        <div class="col">
            {{info.speed}} mph
        </div>
        <!-- <div class="col">
            contact???
        </div> -->
    {% endfor %}
</div>

{% endblock %}