<!-- SCRAPPED, IF CONTINUED THIS ROUTE I WOULD HAVE TO MANUALLY CREATE OTHER PAGES FOR OTHER CARS -->


{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<div>
    {% for current_car in Cars %}

    <div class="row">
        <div class="col-md-6 offset-md-5"> {{current_car.name}} - ${{current_car.pricing}} </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-5">NO DOWNPAYMENT NEEDED</div>
    </div>

    <div class="row">
        <div class="col-md-6 ms-4">
            
            <p>48 months payment plan</p>
            <p>Est. Payment - $700</p>
        </div>

        <div class="col-md-4 ms-1">

            <p>72 months payment</p>
            <p>Est. Payment - $500</p>
        </div>
    </div>

</div>
{% endfor %}
{% endblock %}