{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}

<!-- HAVE TO CLEAR CACHE/HISTORY, IF NOT OLD CSS WILL STILL APPEAR -->

<div 
    class="word picture-cover" 
        style="background-image: url('/pictures/tesla.webp'); " 
    >
    <h1>
        Welcome to 2Slo !
    </h1>

    
    <h1>The car of your dreams is here</h1>
    <!-- <div class="h1icture-cover">
        <picture class="picture-cover">
            <img src='/pictures/tesla.webp' alt="tesla car" class="picture-cover" />
        </picture>
    </div> -->

</div>

{% endblock %}