body {
    background-color: yellow;
}

.word {
    color:aquamarine;
    padding-top: 50vh;
    text-align: center;
}

.picture-cover {
    
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.toslow-position  {
    margin-left: min(-5em, auto);
}

