body, html {
    height: 100%;
}



a {
    text-decoration: none;
    color: black;
    transition: .5s;
}

a::after {
    transition: .5s;
    transition: scaleX(0);
    transform-origin: right;
    top: 100%;
}

a:hover {
    color: rgb(209, 59, 33);
    text-decoration: 5px underline;
    /* text-decoration-color: rgb(0, 0, 0);; */
}

a:hover::after {
    transform-origin: left;
    transition: scaleX(1);
}


.word {
    color:rgb(166, 233, 250);
    padding-top: 50vh;
    text-align: center;
}

.sentences {
    text-align: center;
    height: 85vh;
}

.picture-cover {
    
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.toslow-position  {
    margin-left: min(-5em, auto);
}

.logo-over-name {
    margin-left: min(-3em)
}

.home-cars-decoration {
    text-decoration: none;
    color: rgb(209, 59, 33);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.home-cars-margin {
    margin-top: 1.6em;
}

.menubar {
    margin-top: -3.9em;
    margin-left: 90%;
    
}


.menubutton {
    background-color: white;
    border-color: white;
}

.each-car {
    margin-top: -8.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    color: white;
    
}

.model-l {
    color: rgb(209, 59, 33);
}

.model-s, .model-o {
    min-width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    /* width, height */
    background-size: 100% 100%;
}

.footer {
    margin: min(1%);
    text-align: center;
    margin-left: 30%;
    padding-bottom: 1%;
}

.btn-position {
    padding-top: 0.8%;
    /* margin-right: 2%; */
    margin-left: -10%;
}